<section class="container" id="part1" tabindex="1">
    <p class="headline2" [class.headline4]="isMobileSmall" style="margin-bottom: 60px;">Как это работает</p>
    <div class="content1">
      <div class="top">
        <div class="card">
          <img src="../assets/images/waiting.png" alt="">
          <div>
            <strong>Прочитай задание внимательно</strong>
            <p>Думаю у тебя не займет это больше двух-трех минут</p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/delivery-truck.png" alt="">
          <div>
            <strong>Изучи весь макет заранее</strong>
            <p>Подумай как это будет работать на разных разрешениях и при скролле</p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/secure.png" alt="">
          <div>
            <strong>Сделай хорошо</strong>
            <p>Чтобы мы могли тебе доверить подобные задачи в будущем</p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/money-bags.png" alt="">
          <div>
            <strong>Получи предложение</strong>
            <p>Ну тут все просто, не я придумал правила, но думаю так и будет)))</p>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="left" id="part2" tabindex="2">
          <p class="headline3" [class.headline5]="isMobile">Круто, ты дошел до третьего блока</p><br>
          <p>63% опрошенных пользовались кредитами из-за того, что не могли покрыть непредвиденные расходы свыше 15 000 ₽.
            <br><br>
  
            Доступ к заработанным деньгам помогает отказаться от кредитов и экономить деньги на процентах и штрафах.
          </p>
        </div>
        <div class="right">
          <img src="../assets/images/2_1.png" alt="">
        </div>
      </div>
    </div>
  </section>
